/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Font Face Declaration */
@font-face {
    font-family: 'roboto';
    src: url('../vendor/webfonts/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: 'roboto', sans-serif;
    line-height: 1.5;
}

/* Common Stylings */
button,
a {
    display: inline-block;
    text-decoration: none;
    outline: none;
    color: inherit;
}

/* Header Stylings */
.topnav {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.topnav li {
    display: inline-block;
    margin-left: -4px;
}

.topnav li:first-child {
    margin-left: 0;
}

.topnav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
}

.topnav ul li a:hover {
    background-color: #fff;
    color: #000;
}

.topnav a.active {
    background-color: #333;
    color: #fff;
}

.topnav a.active:hover {
    background-color: #ccc;
    color: #000;
}
/* Main Section Stylings */
main {
    padding-top: 43px;
}
/* Side Nav & Web Content Section Section */
.sidenav, 
.web-content {
    display: inline-block;
}

.sidenav {
    vertical-align: top;
    width: 20%;
}

.web-content {
    width: 75%;
}

.pg a.active {
    background-color: #000;
    color: #fff;
}

.pg a {
    color: #000;
    padding: 8px 16px;
    font-size: 15px;
}   

.pg a:hover {
    color: #fff;
    background-color: #000;
}

.pg a.active:hover {
    background-color: #ccc;
    color: #000;
}

/* .topnav ul li:first-child{
    background-color: #333333;
} */
/* end of top nav section */
/* start of side nav section */